/* Custom CSS */
/*html {
	background-color: #ffffff;
        font-size: .95em;
	line-height:1.4;
}
*/


@media screen and (min-width: 44.8em) and (max-width: 75em) {
	html #main-content {
		/*font-size: calc(.9rem + .5vw);*/
		font-size: 1rem;
		line-height: 1.5;
	}
        #block-views-block-new-datasets-block-1 .views-col {
                min-height:18em;
		width:23%;
        }

}

html, body, .page {
  color:#30325a;
  background-color: #ffffff;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
        /*font-size: .95em;*/ 
        line-height:1.4;

}

#block-tabs, .block {
	margin:0;
}

.menu__link, .menu__link:visited {
	color: #10112b;
}

.pr-header {
  color: #6a7196;
  background-color: #fff;
  position:relative;
}

.regions {
  background-color: #ffffff;
}

.node {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: none; /*0 3px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);*/
  margin-bottom:1%;
  padding:1% 2%;
}

#mySubheadContext {
	margin-top:-26px;
}

#main-content {
	background-color: #ffffff;
	background-size: cover;
	resize: horizontal;
}

a, a:link {
	 color:#7b3616; /*:#16327B*/
}

a:visited {
	color:#cc5353; /*2943aa;*/
}

a:hover {
	 color:#274430 ;
}

/*
a:active {
	color:#3c1c57;
}
*/

/*
.pg-tools #main-content {
	background-color: #d6dce4;
	background: url("/sites/default/files/dante_canto_bkg.jpg");
	background-size: cover;
	resize: horizontal;
}

.pg-about #main-content {
	background: url("/sites/default/files/dante_styx_bkg.jpg");
	background-size: cover;
	resize: horizontal;
}
*/

.fa-envelope::before {
	content: url(/dante_files/env.png);
}

.pg-tools #main-content tr, .page #main-content td {
    border: none;
    padding: 2px;
}

form input, form textarea {
	border: 1px solid #c1bfbf !important;
}

.pr-navbar, .pr-navbar .regions {
  background-color: #898c9d;
}

#rid-navbar {
	background-color: #898c9d;
}

#block-adaptive-one-branding {
	background-color:#ffffff;
	background: url("/dante_files/2020-06/dante_logo_5b.png") no-repeat 0 0;
	background-size: contain;
	resize: horizontal;
}

/* #alt mastheads 
#block-site-branding-alt1 {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_new6a.png") no-repeat 0 0;
        background-size: contain;
        resize: horizontal;
}

#block-site-branding-alt2 {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_new4b.png") no-repeat 0 0;
        background-size: contain;
        resize: horizontal;
}

#block-site-branding-alt3 {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/blue_spiral.png") no-repeat 0 0;
        background-size: contain;
        resize: both;
}

#block-site-branding-alt3 .site-branding__text {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/blue_spiral.png") no-repeat 0 30%;
        background-size: 220%;
        resize: both;
}

#block-site-branding-alt3 .site-branding__slogan {
        font-family: "Lato", sans-serif;
        margin-top: 5vh;
        left: 10vw;
}

#block-site-branding-alt4 {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_new4d.png") no-repeat 0 -.25px;
        background-size: contain;
        resize: horizontal;
}

#block-site-branding-alt4a {
	background-color:#ffffff;
	background: url("/dante_files/2020-06/dante_logo_new4_no_map.png") no-repeat 0 -.25px;
	background-size: contain;
	resize: horizontal;
}

#block-site-branding-alt4b {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_new4_no_tints.png") no-repeat 0 -.25px;
        background-size: contain;
        resize: horizontal;
}

#block-site-branding-alt5a {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_5a.png") no-repeat 0 -.25px;
        background-size: contain;
        resize: horizontal;
}

#block-site-branding-alt5b {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_5b.png") no-repeat 0 -.25px;
        background-size: contain;
        resize: horizontal;
}
#block-site-branding-alt5c {
        background-color:#ffffff;
        background: url("/dante_files/2020-06/dante_logo_5c.png") no-repeat 0 -.25px;
        background-size: contain;
        resize: horizontal;
}
*/

#leaderboard, #leaderboard .regions {
    background-color: #ffffff;
    position:relative;
}

#leaderboard .sub_link {
	position: relative;
	top: 2rem;
	z-index: 500;
}

.site-branding {

}


.site-branding .site-branding__text {
	/*padding: 0 0 0 .5%;
	margin-left:1em;*/
}

.site-branding__logo-link {
	padding-right: 0;
	min-height: 60px;
	object-fit:contain;
	resize: both;
}

.site-branding__logo-img {
	min-width: 70px;
	/* width: 20%; */
	height: 10vw;
	padding-right: 0;
	min-height: 60px;
	object-fit: contain;
	resize: both;
}

.subhead ul, .subhead ul li {
	list-style-type: disc;
}

#rid-footer {
	font-size: .8rem;
}


.pr-footer {
	color: #232742;
	background-color: #ffffff;
}

.pr-footer a {
	color:#444;
}

#footer .menu__link:hover {
	color: #000000;
        font-weight:bold;
}

#footer .menu__link:active {
        color: #000000;
}

#footer hr {
	margin:.8rem 0;
}

hr.footer_rule {
    border:3px solid #898C9D;
    margin-bottom:2%;
}

h2.block__title, h3.block__title, h4.block__title, #footer h4 {
	font-weight: 400;
}

#footer h4 {
	margin:.2rem 0;	
}

#footer .l_footer {
	float:left;
	display:block;
	width:50%;
	position:absolute;
	bottom:0;
}

#footer .r_footer {
        float:right;
        display:block;
        width:30%;
	text-align:right;
}

#block-adaptive-one-footer {
margin: -3% auto 1%;
text-align: center;
}

#block-contactformintro-title, #block-subscriptionformintro-title {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

.caption-style {
	/*position: absolute;
	top: 45%;
	text-align: center;*/
	width: 100%;
	font-size: 4vw;
	font-family: "Arial", "Helvetica", sans-serif !important;
}

a.plain_link {
	text-decoration: none;
	color:#3b3d46 !important;
}


.img_pad2 {
	padding:2%;
}

.img_pad_lr {
	padding:0 2%;
}

.img_pad_tb {
	padding:2% 0;
}

.site-branding__name {
	font-family: Quicksand, sans-serif;
	display:none;
}

.site-branding__slogan {
	/* font-family: "Cormorant Garamond", serif;
	margin-top: 10%; */
	margin-top: 6vw;
	left: 10vw;
	font-style: normal;
}

.block-plugin-id--system-branding-block {
	margin: .25rem auto -2.1px;;
}

.pr-navbar .l-rw {
/* 	background-color: #585a7a; */
	border-bottom: none;
}

#block-adaptive-one-main-menu {
	background-color: #FFFFFF;
	border-bottom:solid #2E3192 .21rem;
	color:#E4EAF5;
}

.menu-name--main .menu__item {
	padding: 0 8px;
	margin: 0;
	list-style: none;
	width: auto;
	display: block;
	float: left;
}

.rm-block__content .menu-name--main .menu__link {
                position: relative;
                display: block;
                padding: 0.5rem;
        	font-weight:600 !important;
        }

ul.menu-level-1.menu-name--main li a.menu__link:hover {
	background-color:#b5b8c4 !important;
}

ul.menu-level-1.menu-name--main li.menu__item--active-trail a.menu__link {
	background-color:  #7f85a2;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link {
  border-bottom: solid 1px #aaa5ae;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:hover, .ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:focus, .ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:hover, .ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:focus {
	 background-color: #9397aa;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link, .ms-horizontal .rm-block__content .menu-level-2 .menu__link:hover {
background-color:#9ca0b5 !important;
}

.field.field-name-node-title {
	margin-bottom: -5px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 .2rem;
	line-height: 1.125;
}

h1 {
	font-size:1.625rem;
}

.tabs .is-horizontal ul.tabs--primary a.active:hover, .tabs .is-horizontal ul.tabs--primary a.active:focus, .tabs .is-horizontal ul.tabs--primary a.is-active:hover, .tabs .is-horizontal ul.tabs--primary a.is-active:focus {
	color: #808dce;
	background: #ccccd8;
}

.tabs .is-horizontal ul.tabs--primary a.active, .tabs .is-horizontal ul.tabs--primary a.is-active {
	color: #808dce;
	background: #d8e3ec;
	border-bottom-color: #f8f8fb;
}

.tabs , .tabs .is-horizontal ul.tabs--primary li a[data-drupal-link-system-path^='vignettes'], .tabs .is-horizontal ul.tabs--primary li a[data-drupal-link-system-path^='datasets'], ul.tabs--primary a[data-drupal-link-system-path^='vignettes'], .tabs ul.tabs--primary a[data-drupal-link-system-path^='datasets'], .tabs .is-vertical ul.tabs--primary li a[data-drupal-link-system-path^='vignettes'], .tabs .is-vertical ul.tabs--primary li a[data-drupal-link-system-path^='datasets'] {
	border: none;
	padding: 0.5rem 1rem;
	-webkit-transition: background-color, .15s, ease-in-out;
	-o-transition: background-color, .15s, ease-in-out;
	transition: background-color, .15s, ease-in-out;
	margin-right: -1px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
}

#block-tabs-2 ul.tabs.tabs--primary.is-responsive__list {
    width: 100%;
    float: right;
    text-align: right;
    }

#block-tabs-2 ul.tabs.tabs--primary.is-responsive__list li {
    width: fit-content;
    display: inline-block;
    padding: 2%;
    }


/* this is a terrible thing but Sri wants icons... */

#block-adaptive-one-local-tasks ul.tabs.tabs--primary {
	display: inline-flex;
	height: 48px;
	width:48px;
}

#block-adaptive-one-local-tasks ul.tabs.tabs--primary li {
	display: inline-flex;
	height: 48px;
	width:48px;
}

#block-tabs nav.tabs ul.tabs.tabs--primary, #block-tabs nav.tabs ul.tabs.tabs--primary li {
	display: inline-flex;
	height: 48px;
	width:48px;
	list-style:none;
}

#block-adaptive-one-local-tasks .tabs__tab a, #block-tabs .tabs__tab a {
	background-size:48px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	/* color: #ffffff;*/
	width: 54px;
	height:50px;
	margin-bottom:5px;
	font-size:0;

}

#block-adaptive-one-local-tasks .tabs__tab a[href='/datasets'], #block-tabs .tabs__tab a[href='/vignettes'] {
	background-image: url('/dante_files/grid_med55.png');
}

#block-adaptive-one-local-tasks .tabs__tab a[href='/datasets/slideshow'], #block-tabs .tabs__tab a[href='/vignettes/slideshow'] {
	background-image: url('/dante_files/carousel_med55.png');
}

#block-adaptive-one-local-tasks .tabs__tab a[href='/datasets/search'], #block-tabs .tabs__tab a[href='/vignettes/search'] {
	background-image: url('/dante_files/list_med55.png');
}


#block-mainnavigation .menu__item--active-trail .menu__link--wrapper > .menu__link {
    background-color:  #7f85a2;
}

#block-exposedformdatasets-viewspage-1-title, #block-exposedformdatasets-viewspage-2-title, #block-exposedformdatasets-viewspage-3-title {
	font-size: 90%;
	background-color: #eff0f7;
	padding: 3px;
	text-align: right;
	margin-top: -2%;
}

#block-exposedformcitations-searchpage-3-title, #block-exposedformcitations-searchpage-1-title {
	font-size: 90%;
	background-color: #eff0f7;
	padding: 3px;
	text-align: right;
	/*margin-top: -2%;*/
}

#block-exposedformvignette-page-viewspage-1-title, #block-exposedformvignette-page-viewspage-2-title, #block-exposedformvignette-page-viewspage-3-title {
	font-size: 90%;
	background-color: #eff0f7;
	padding: 3px;
	text-align: right;
	margin-top: -2%;
}

.cit-search .view-header {
	margin: -1% 0 2% 0;
}

.cit-search .views-field.views-field-title, .views-field.views-field-title a {
	font-size: 1.2rem;
}

div[id^="collapsiblock"] a {
	text-decoration: none;
}

.views-element-container {
	/*margin: 1.25em 0;*/
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 100%;
	line-height: 1.2;
	padding:0;
}

.ds-slideshow {
	/*margin: 1.25em 0;*/
}

#block-views-block-new-datasets-block-1.views-element-container {
        margin: .25em 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0;
        line-height: 1.2;
}

.ds_slideshow .views_slideshow_cycle_main .views_slideshow_cycle_teaser_section {
	margin: 0 auto;
	text-align: center;
}

.ds-view1 .views-view-responsive-grid .views-col {
	float: left;
	width: 23%;
}

#block-views-block-new-datasets-block-1 .views-col {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	margin: 1%;
	/* height: auto; */
	font-size: 70%;
	text-align: center;
}

.feature-block .views-row {
	/*
    border: 1px solid #a29e9e;
    padding: 2%;
	background: #d2d3d7;
	*/
}

.feature-block .views-row .views-col {
    padding:2%;
}

#vignette-highlights-block {
	display: block;
	border: 1px solid rgb(143, 142, 142);
	padding: 1%;
	margin-top: 1%;
	background-color: #e9eaf0;
}

.feature-block.sub-link a {
	display: inline-block;
	float: right;
	top: 50px;
	position: relative;
	z-index: 50;
	padding-left: 5px;
}

/*

.feature-block .views-row:hover {
	box-shadow: 5px 5px 8px #babac8;
}

.feature-block img, .feature-block p {
	display: block;
	clear: both;
	float: left;
	margin: 0 auto;
}

.feature-block .views-row .field-content p, .feature-block .views-row p {
    position: absolute;
    bottom: 0;
    font-weight:bold;
    font-style:italic;
    margin: 1%;
    padding:2%;
    
}
*/

.cit-search h3.view-title {
	font-size: unset;
}

.slick-arrow::before {
	color: #83859b;
	font-size: 2.25rem;
}


.slick-arrow {
  height: 22px;
  width: 22px;
}

.slick-prev {
  left: -40px;
}

 #block-webform {
  display: none;
}

.foTbl {
    display:table;
    width:100%;
}

.foTblBody {
    display: table-row-group;
}

.foTblRow {
    display: table-row;
    margin-bottom:1rem;
}

.foTblCell {
    display: table-cell;
    padding:.5rem;
    text-align: center;
    vertical-align:bottom;
    float: none !important;
}

h4.field-content.title-align {
	margin: 8% 0 0 0;
	text-align: center;
}

.feature-column img:hover {
	box-shadow: 5px 5px 8px #616173;
}

.cellLeft {
    border-right:1px solid gray;
    width:30%;
}

#contact-message-contact-form .form-type-radio .option, #contact-message-contact-form 
.form-type-checkbox .option {
  padding: 0 0.5rem;
  border-radius: 2px;
}

#contact-message-contact-form .form-checkbox, .form-checkboxes, .form-type-checkbox {
   margin: 0;
}


.mo2f-modal {
	    z-index: 1000;
    }

@media screen and (max-width: 44.8em) {
        html #main-content {
               /* font-size: calc(1em + 1vw);*/
                line-height: 1.3;
        }
		.site-branding__slogan {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin-top: 15%;
			margin-left: -3%;
			font-size: .9rem;
		  }
        .menu {
                float:none;
        }
        .ms-dropmenu .rm-block__content .menu__link {
          padding: 0.2rem .25rem;
          font-size: 2.5vw;
         }
         .ms-dropmenu .rm-block__content .menu__link::after {
          right: unset;
        }
	.menu_link, .ms-dropmenu .rm-block__content .menu-level-1 .menu__item--collapsed.is-parent > span > .menu__link, .fa-loaded .ms-dropmenu .rm-block__content .menu-level-1 .menu__item--expanded.is-parent > span > .menu__link {
 	padding-right: 0rem; 
}
        .views-element-container {
        font-size: inherit;
        line-height: 1.2;
        }
        .view-comments-recent .item-list__item .views-field-changed, .view-content-recent .item-list__item .views-field-changed {
        font-size: 1em;
        line-height: 1;
        }
        #block-views-block-new-datasets-block-1 .views-col {
                width:100%;
                height:auto;
        }
	.ds-view1 .views-view-responsive-grid .views-col {
	float: left;
	width:auto; 
	}
	.ms-dropmenu .rm-block__content .menu__link {
		padding: 0.2rem;
		max-width:6rem;
	}

}

@media screen and (min-width: 75em) {
	html, html #main-content {
	font-size: 1rem;
		line-height: 1.4;
	}
	.site-branding {
	margin-bottom: -3px;
	}
	.site-branding__slogan {
	margin-top: 6vw;
	left: 10vw;
	font-style: normal;
	font-size: 1.7rem;
	}
	#block-views-block-new-datasets-block-1 .views-col {
		max-height: 40vh;
	}
	.caption-style {
		font-size: 3vw;
	}
}

