body, td {
   font-family: sans-serif;
   background-color: white;
   /*font-size: 13px;*/
   overflow:visible;
}

/*
body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 20px;
}
*/

.node {
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: none;
	margin-bottom: 1%;
	padding: 0 0;
}

#metadata-block {
   border:1px solid #eeeeee;
	margin: 2% 0;
	padding: 1%;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

/*h1,h2,h3,h4,h5,h6,legend{color: #633CA3;}*/

h1 {font-size:2.2em;
   line-height: 105%;
}

h2 {font-size:1.8em;}

h3 {font-size:1.4em;}

h4 {font-size:1.0em;}

h5 {font-size:0.9em;}

h6 {font-size:0.8em;}

a:link{color:#791c76;}

a:visited {color: rgb(50%, 0%, 50%);}

pre, img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}
pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 0px;
}

div.sourceCode{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
   overflow-style: #ECECEC;
}

code[class] {
  background-color: #ECECEC;
  backgr
}

code span.kw {
    color: #9b1b5c;
    font-weight: bold;
}

code span.dt {
    color:#315c31;
}

code span.op {
    color: #f67fec;
}

code span.fl {
    color: #E27A0A;
}

code span.dv {
    color: #E27A0A;
}

code span.co {
    color: #562fff;
    font-style: italic;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}


@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }
/*
   body {
      font-size:12pt;
      max-width:100%;
   }
*/
   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}

hr {
   height: 5px;
}

h1.node__title, h1.dataset_node__title, div[id^="dataset_title_block"] h1.node__title {
   padding-bottom: 10px;
   border-bottom: 5px solid #30325A;
   margin-bottom:5px;
   }

.rid-sidebar-second {
   border-left: 1px solid #efefef;
}

img.subheader {
   /*max-height: 150px;*/
   margin-bottom: 1rem;
}

caption {
    display: table-caption;
    text-align: justify;
    color: #777;
}

table, td {
  border: none;
}

thead {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: black;
  }

tbody {
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

table {
   margin-bottom: 30px;
   font-size: .9rem;
}

table td, table th {
   border-width: 0px;
   padding:5px
}

th {text-align:center; }

table {table-layout: fixed; border-collapse: collapse; border-spacing: 0;}

div.figure {
  width: 90%;
  text-align: justify;
  color: #777;
  text-indent: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}


/* Element | https://dante.ddev.site/node/5917 */

#screenshot-or-representative-figure {
   float: right;
   width: 50%;
 }
 
 /* Inline #109 | https://dante.ddev.site/node/5917 */
 
 #screenshot-or-representative-figure h1 {
   display: none;
 }
 
 #title-block-header {
   width: 100%;
   border: 1px solid #efefef;
   padding: 2%;
   background-color: #f4f3f1;
   box-shadow: 3px 4px 3px #eee;
 }
 
 #highlights-block, #highlights-block {
   width: 50%;
   float: left;
 }
 
 #related-links-block {
   width: 40%;
   display: inline-block;
   margin-left: 3%;
 }
 
 #title-block-header {
   height: auto;
   position: relative;
   margin-bottom: 3%;
 }
 
 #dataset-highlights-block {
   /* width: 50%; */
   /* float: left; */
   width: 55%;
   padding: 2%;
   position: relative;
   display: inline-block;
 }
 
 #title-block-header ul {
   margin: 0;
 }
 
 #title-block-header li {
   margin-left: -10%;
 }
 
 #title-block-header h3 {
   margin-bottom: 2%;
 }
 
 #related-links-block {
   display: inline-block;
   padding: 2%;
   position: relative;
   border-left: 1px solid #d0cbcb;
 }
 
 #related-datasets, #related-packages, #related-vignettes {
   margin-bottom: 5%;
 }
 
 #title-block-header h3 {
   font-size: 115%;
 }
 
 /* custom.css | https://dante.ddev.site/themes/custom/adaptive_one/styles/css/custom.css?qoec2x */
 
 h1 {
   /* font-size: 1.625rem; */
 }
 
 h1, h2, h3, h4, h5, h6 {
   /* margin: 1rem 0 .2rem; */
   /* line-height: 1.125; */
 }
 
 /* dataset_page.css | https://dante.ddev.site/themes/custom/adaptive_one/styles/css/dataset_page.css?qoec2x */
 
 #screenshot-or-representative-figure div.figure {
   /* margin-bottom: 30px; */
   /* margin-top: 30px; */
 }
 
 h1.node__title, h1.dataset_node__title, div[id^="dataset_title_block"] h1.node__title {
   /* margin-bottom: 5px; */
   margin-bottom: 0px;
 }
 
 /* base.css | https://dante.ddev.site/themes/custom/adaptive_one/styles/css/components/base.css?qoec2x */
 
 ul, ol, dl {
   /* padding-left: 3.25rem; */
   /* padding-right: 0; */
 }
 
 ul, ol, dd, dl, p, figure, pre, table, hr, form, fieldset {
   /* margin: 0 0 1.25rem; */
 }
 
