body, td {
   font-family: sans-serif;
   background-color: white;
   font-size: 13px;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 20px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1,h2,h3,h4,h5,h6,legend{color: #633CA3;}

h1 {font-size:2.2em;}

h2 {font-size:1.8em;}

h3 {font-size:1.4em;}

h4 {font-size:1.0em;}

h5 {font-size:0.9em;}

h6 {font-size:0.8em;}

a:link{color:#791c76;}

a:visited {color: rgb(50%, 0%, 50%);}

pre, img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}
pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 0px;
}

div.sourceCode{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
   overflow-style: #ECECEC;
}

code[class] {
  background-color: #ECECEC;
  backgr
}

code span.kw {
    color: #9b1b5c;
    font-weight: bold;
}

code span.dt {
    color:#315c31;
}

code span.op {
    color: #f67fec;
}

code span.fl {
    color: #E27A0A;
}

code span.dv {
    color: #E27A0A;
}

code span.co {
    color: #562fff;
    font-style: italic;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}


@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}

hr {

   height: 5px;
   background-color:#56A221;
   color: #56A221;
}

h1 {
   padding-bottom: 10px;
   border-bottom: 5px solid #56A221;
   }

caption {
    display: table-caption;
    text-align: justify;
    color: #777;
}

table, td {
  border: none;
}

thead {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: black;
  }

tbody {
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

table {
   margin-bottom: 30px; margin-left:auto; margin-right:auto;
}

table td, table th {
   border-width: 0px;
   padding:5px
}

th {text-align:center; }

table {table-layout: fixed; border-collapse: collapse; border-spacing: 0;}

div.figure {
  width: 90%;
  text-align: justify;
  color: #777;
  text-indent: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

