@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

html {
 font-family:sans-serif;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}

body {
 font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:15px;
 line-height:1.42857143;
 color:#19477d;
 background-color:#ffffff
}

.navbar-default {
 background-color:#2d87b4;
 border-color:transparent
}

.navbar-default .navbar-text {
 color:#ffffff
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
 color:#ffffff;
 background-color:#ffa600
}

.label-danger {
 background-color:#ffa600
}

a {
 color:#00ae8d;
 text-decoration:none
}
a:hover,
a:focus {
 color:#00ae8d;
 text-decoration:underline
}

pre, code {
  background-color: #f8f8f8;
  color: #de425b;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-weight:400;
 line-height:1.1;
 color:#19477d
}


